.btn {

	a {
	color: #fff;
	} 
}

.admin-blog-table {
	margin-top: -30px;

	h1 {
		text-align: center;
	}
}

table {
	text-align: center;

	th { 
		text-align: center;
	}
	
}

.buttons-div {
	text-align: center;
}

select {
	height: 34px;
}
